#rssform{
	font-size:14px;
	position: relative;
	top: 14px;
	text-align : left;
}
#rssform #high{
	height:400px;
}
#rssform legend#rssConfigurator{
	font-size:16px;
	color: #487ECF;
	font-weight: bold;
}
#rssform #left{
	display: inline-block;
	width : 60%;
	vertical-align: top;
	margin-left :3%;
	margin-right :4%;
	margin-bottom:5px;
}

#rssform .containeroptions{
	clear:both;
	position: relative;
	bottom: 9px;
}
#rssform .tohover{
	clear:right;
}

#rssform .expandable {
	list-style-type: none;
	padding:0px;
	margin-top:0px;

}
#rssform .expandable li {

	padding:0px;


}
#rssform #right{
	display: inline-block;
	width : 20%;
	vertical-align: top;
}
#rssform .regexinputdiv{
	margin-right:7px;
}
#rssform .regexinput{
	width:100%;
}

#rssform .icondiv{
	display: inline-block;
	width : 10%;
	vertical-align: top;
	text-align:center;
}
#rssform #rssicontab2{
	float:right;
}
#rssform .checkbox > .ui-button{
	float:left;
	width:33%;
}

#rssform #resultdiv , #diskresultdiv{
	border-width: 1px;
	border-color: #ABABAB;
	border-style: solid;
	margin-top: 10px;
	padding: 5px;
	min-height:20px;
	background: #dfeffc;
	word-break: break-all; /* to avoid url overflow */

}
#rssform #result , #diskresult{
	color:#2e6e9e !important;
	clear:both;
}
#rssform #selected{
	border-color: #A6C9E2;
    border-style: solid;
    margin-top: 10px;
    padding: 2px
}
#rssform #selected div{
	background: none repeat scroll 0 0 white;
    color: #487ECF;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -14px;
    width: 66px;
}

#rssform #slider{

	width : 80%;

	display: inline-block;
	margin-top : 20px;
	margin-left : 10px;


}
